<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="common/fragments/header :: header"></div>
</head>
<body>
<div class="wrapper">
    <div th:insert="common/fragments/left_sidebar :: left_sidebar"></div>
    <div class="main-panel">
        <div th:insert="common/fragments/main_navbar :: main_navbar"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Fields of Form</h4>
                                <p class="category">Fields of selected Form</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Form name</th>
                                        <th>Website</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Name</td>
                                            <td>Registration Form</td>
                                            <td>www.bsptechs.com</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Surname</td>
                                            <td>Registration Form</td>
                                            <td>www.bsptechs.com</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Email</td>
                                            <td>Registration Form</td>
                                            <td>www.bsptechs.com</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Age</td>
                                            <td>Registration Form</td>
                                            <td>www.bsptechs.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="common/fragments/footer_content :: footer_content"></div>
    </div>
</div>


</body>

<div th:insert="common/fragments/footer :: footer"></div>

</html>
