<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="assets/css/util.css">
<link rel="stylesheet" type="text/css" href="assets/css/mainTable.css">
<link rel="stylesheet" type="text/css" href="assets/css/mainForm.css">
<link rel="stylesheet" type="text/css" href="assets/css/navigation.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Web Utilities</title>
</html>
